future
pandas
openpyxl
progress
pyyaml
beautifulsoup4
fosslight_util>=2.1.0,<3.0.0
fosslight_source>=2.1.0,<3.0.0
fosslight_dependency>=4.1.0,<5.0.0
fosslight_binary>=5.1.0,<6.0.0
fosslight_prechecker>=4.0.0,<5.0.0
